<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Base Html</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">

<link rel="stylesheet" th:href="@{/css/home2.css}" />


</head>
<body>


	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

		<div class="container-fluid">
			<a class="navbar-brand" href="#">Grocify</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ms-auto text-uppercase">
					<li class="nav-item active"><a th:href="@{/}" class="nav-link"
						href="#">Home </a></li>

					<li class="nav-item"><a class="nav-link" href=""
						th:href="@{/aboutus}">About</a></li>

					<li class="nav-item"><a class="nav-link" href="/login"
						tabindex="-1" aria-disabled="true">Login</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/register}" href="#" tabindex="-1" aria-disabled="true">Signup</a></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/index}" tabindex="-1" aria-disabled="true">Admin</a></li>


				</ul>
			</div>
		</div>
	</nav>

	<!-- end of navbar -->



	<div th:replace="${content}"></div>

	<script th:src="@{/js/script.js}"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
</body>
</html>