<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8" />
<title>About Us</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="jumbotron">
				<h1>About Us</h1>
				<p>Imagine needing something when you are at home and getting it
					before you have tied your shoelaces to step out. We are
					revolutionizing e-commerce by making the stuff most important to
					you, available to you in a blink of your eye. We want our customers
					to focus on the more important things for themselves and not need
					to plan for the little things that life needs on an everyday basis.
					We are here to get your chores out of your way. Our mission is –
					“instant commerce indistinguishable from magic”. Using a backbone
					of technology, data sciences, and rich customer insights, we've
					built a dense and fast network of partner stores enabling lightning
					fast deliveries in minutes. We are already one of the largest
					e-grocery companies in India. Our ambition however, is to be 100x
					this size in the next five years. In order to become one of the
					most important e-retail companies of our generation, we need
					builders who can think on their feet, take extreme ownership and
					commit to making outcomes happen. If you are ambitious, smart, and
					don’t have an ego about it, we’d love to hear from you.

					Opportunities to create $100 billion businesses in India are rare.
					We are on the way and looking for the hungry.</p>
			</div>
			<p>Best Wishes</p>
			<p>From Grocify Team !</p>
		</div>
	</section>
</body>
</html>
